<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include('head'); %>
    <link rel="stylesheet" href="/css/access.css">
    <title>access:hair-salon</title>
</head>

<body>
  <%- include('header'); %>

    <main>
      <div class="top">
        <h1 class="top-title">Access</h1>
      </div>

      <div class="access-img">
        <img src="http://drive.google.com/uc?export=view&id=1D7qjNSvpZEFIBQ9wnEzKSp_75Fhc3TKC" title="サロン画像">
      </div>

      <div class="access-address">
        <ul class="address-lists">
          <li class="address-list">〒150-0043</li>
          <li class="address-list">東京都渋谷区道玄坂２丁目１</li>
          <li class="address-list">Tel：0120-1111-2222</li>
          <li class="address-list">Email：hairsalon@test.com</li>
          <li class="address-list">営業時間：10:00 〜 20:00</li>
          <li class="address-list">店休日：年末年始、不定期（<a href="/news">News</a>情報をご確認下さい）</li>
        </ul>
      </div>

      <section>
        <h2 class="title">Map</h2>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7281085126874!2d139.69853721562325!3d35.65906988019945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b78491b9667%3A0x1d5a39ab94bbb8d9!2z44OP44OB5YWs5YmN5bqD5aC0!5e0!3m2!1sja!2sjp!4v1640821278179!5m2!1sja!2sjp"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </section>
    </main>

    <%- include('footer'); %>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="js/style.js"></script>
</body>

</html>