<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <!-- Web表示設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- プラグイン -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Barlow:wght@200&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/admin-createNews.css">
    
    <title>createNews:hair-salon-aki</title>
  </head>
  <body>

    <%- include('admin-header'); %> 
      
      <main>
        <div class="top">
          <h1 class="top-title">新規投稿</h1>
        </div>
        
        <form id="form-news" action="createNews" method="post" enctype="multipart/form-data" class="dialogue-create">
          <div class="form-group">
            <label for="title">Image</label>
            <div class="preview-img"><span id="img"></span></div>
            <input type="file" name="file" id="file">
          </div>

          <div class="form-group">
            <label for="title">Title</label>
            <span id="blur-title" class="error"></span>
            <span id="error-title" class="error"></span>
            <input type="text" name="title" id="title" onblur="blurTitle(this)" placeholder="Title">
          </div>

          <div class="form-group">
            <label for="comment">Contents</label>
            <span id="blur-comment" class="error"></span>
            <span id="error-comment" class="error"></span>
            <textarea name="comment" rows="20" cols="80" id="comment" onblur="blurComment(this)" onKeyUp="countLength(value,'textlength');" placeholder="Contents"></textarea>
            <p id="textlength">文字数：0</p>
          </div>
          <input type="submit" class="btn" value="投稿">
        </form>

        <div class="return">
          <a class="button" href="/newsList">戻る</a>
        </div>     
      </main>

      <%- include('admin-footer'); %>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="/js/style.js"></script>
      <script src="/js/form.js"></script>
    </body>
</html>