<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <!-- Web表示設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="秋田市の美容室「ヘアサロンアキ」の店舗情報です。カット・カラー・パーマだけでなく、ヘアドネーションも取り扱っています" />
    <!-- アイコンの設定-->
    <link rel="icon" href="#.ico" />
    <link rel="apple-touch-icon" href="#.png" />
    <!-- プラグイン -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Barlow:wght@200&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/contact.css">
    
    <title>hair-salon-aki</title>
  </head>
<body>
  <header>
    <div class="header-img"><a href="/"><img src="https://static.wixstatic.com/media/3254e0_9cf6ab1fa35c45a19a9b8f7550c4bfea~mv2_d_2208_1242_s_2.png/v1/fill/w_1200,h_350,al_c,q_90,usm_0.66_1.00_0.01/3254e0_9cf6ab1fa35c45a19a9b8f7550c4bfea~mv2_d_2208_1242_s_2.webp" title="店舗ロゴ"></a></div>
    <ul class="header-lists">
      <li class="header-list"><a href="/news">News</a></li>
      <li class="header-list"><a href="/menu">Menu</a></li>
      <li class="header-list"><a href="/gallery">Gallery</a></li>
      <li class="header-list"><a href="/staff">Staff</a></li>
      <li class="header-list"><a href="/hairdonation">Hair Donation</a></li>
      <li class="header-list"><a href="/access">Access</a></li>
      <li class="header-list active"><a href="/contact">Contact</a></li>
    </ul>
  </header>
      
      <main>
        <div class="top">
          <div class="top-img"><img src="https://static.wixstatic.com/media/bfdf85_bb32704cfdf641b78b2207124c945fc8.png/v1/fill/w_322,h_176,al_c,lg_1,q_85/bfdf85_bb32704cfdf641b78b2207124c945fc8.webp" title="メニューページのトップ画像"></div>
          <h1 class="top-title">Contact</h1>
        </div>
        
        <form id="form" action="thanks">
          <div class="form-group">
            <label for="name">Name</label>
            <span id="blur-message-name" class="error"></span>
            <span id="error-message-name" class="error"></span>
            <input type="text" name="name" id="name" onblur="blurName(this)" placeholder="Sato Taro">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <span id="blur-message-email" class="error"></span>
            <span id="error-message-email" class="error"></span>
            <input type="text" name="email" id="email" onblur="blurEmail(this)" placeholder="sample1234@example.com">
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <span id="blur-message-comment" class="error"></span>
            <span id="error-message-comment" class="error"></span>
            <textarea name="comment" rows="8" cols="80" id="comment" onblur="blurComment(this)" onKeyUp="countLength(value,'textlength');" placeholder="Thank you for your comment!!"></textarea>
            <p id="textlength">文字数：0</p>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </main>

      <footer>
        <div class="sns">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter-square"></i></a>
          <a href="#"><i class="fab fa-line"></i></a>
        </div>
        <div class="address">
          <ul class="address-lists">
            <li class="address-list">〒010-0923</li>
            <li class="address-list">秋田県秋田市旭錦町4-58 ドン・キホーテ2F</li>
            <li class="address-list">Tel：018-862-6115</li>
            <li class="address-list">Email：hairsalon.aki@gmail.com</li>
          </ul>
        </div>
      </footer>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="js/style.js"></script>
      <script src="js/contact.js"></script>
    </body>
</html>