<footer class=" reveal-back">
  <div class="sns">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-line"></i></a>
  </div>
  <div class="address">
    <ul class="address-lists">
      <li class="address-list">〒150-0043</li>
      <li class="address-list">東京都渋谷区道玄坂２丁目１</li>
      <li class="address-list">営業時間：10:00 〜 20:00</li>
    </ul>
  </div>
</footer>