<footer class=" reveal-back">
    <div class="sns">
    <a href="#"><i class="fab fa-facebook-square"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-line"></i></a>
    </div>
    <div class="address">
    <ul class="address-lists">
        <li class="address-list">〒010-0923</li>
        <li class="address-list">秋田県秋田市旭錦町4-58 ドン・キホーテ2F</li>
        <li class="address-list">Tel：018-862-6115</li>
        <li class="address-list">Email：hairsalon.aki@gmail.com</li>
    </ul>
    </div>
</footer>