<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('head'); %> 
    <link rel="stylesheet" href="/css/gallery.css">
    <title>gallery:hair-salon</title>
  </head>
  <body>
    <%- include('header'); %> 
    
    <main>
      <div class="top">
      <h1 class="top-title">Gallery</h1>
      </div>

      <div class="gallery">
        <% gallery.forEach((item) => { %>
          <div class="gallery-img reveal">
            <img src="<%= item.image %>">
          </div>
        <% }); %>
      </div>
    </main>

    <%- include('footer'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/style.js"></script>
  </body>
</html>