<header class="banner-wrapper">
  <div class="header-img">
    <a href="/">hair salon</a>
  </div>
  <ul class="header-lists">
    <li class="header-list" id="news"><a href="/news">News</a></li>
    <li class="header-list" id="menu"><a href="/menu">Menu</a></li>
    <li class="header-list" id="gallery"><a href="/gallery">Gallery</a></li>
    <li class="header-list" id="staff"><a href="/staff">Staff</a></li>
    <li class="header-list" id="hairdonation"><a href="/hairdonation">Hair Donation</a></li>
    <li class="header-list" id="access"><a href="/access">Access</a></li>
    <li class="header-list" id="contact"><a href="/contact">Contact</a></li>
  </ul>

  <!-- ハンバーガーボタン -->
  <div class="hamburger_btn spOnly" id="js-hamburger">
    <span class="hamburger_line hamburger_line1"></span>
    <span class="hamburger_line hamburger_line2"></span>
    <span class="hamburger_line hamburger_line3"></span>
  </div>
</header>