<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('head'); %> 
    <!-- プラグイン -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
    <!-- css -->
    <link rel="stylesheet" href="/css/index.css">
    
    <title>hair-salon ヘアサロン：Webの美容室</title>
  </head>
  <body>
    <header class="banner-wrapper">
      <div class="header-img"><a href="/">hair salon</a></div>
      <ul class="header-lists">
        <li class="header-list"><a href="/news">News</a></li>
        <li class="header-list"><a href="/menu">Menu</a></li>
        <li class="header-list"><a href="/gallery">Gallery</a></li>
        <li class="header-list"><a href="/staff">Staff</a></li>
        <li class="header-list"><a href="/hairdonation">Hair Donation</a></li>
        <li class="header-list"><a href="/access">Access</a></li>
        <li class="header-list"><a href="/contact">Contact</a></li>
      </ul>

      <!-- ハンバーガーボタン -->
      <div class="hamburger_btn spOnly" id="js-hamburger">
        <span class="hamburger_line hamburger_line1"></span>
        <span class="hamburger_line hamburger_line2"></span>
        <span class="hamburger_line hamburger_line3"></span>
      </div>
    </header>
    
    <main>
      <div id="top" class="slick">
        <ul class="slick-img">
          <li><img src="http://drive.google.com/uc?export=view&id=1Y3nnN4E02FVSoCsJSNoYMvkfUgdT8u0_"></li>
          <li><img src="http://drive.google.com/uc?export=view&id=1i6MUq6uyraJxYWMtQb6z_PkObSyfVJlb"></li>
          <li><img src="http://drive.google.com/uc?export=view&id=1ZAjBx08KfwQGGlDl7ZCrgXjr4tLcUVUm"></li>
        </ul>
      </div>
      
      <section>
        <h2 class="title reveal-back">- News -</h2>
        <div class="container news">
          <div class="news-contents">
            <% for(let i = 0; i < 3; i++){ %>
            <div class="item" ><a href="/news#<%= news[i].id %>"><%= news[i].title %></a></div>
            <% }; %>
          </div>
        </div>
      </section>
      
      <section>
        <h2 class="title reveal-back">About us</h2>
          <div class="container about">
            <div class="about-img reveal"><img src="http://drive.google.com/uc?export=view&id=10WkFTvYZaYgffh6orWZKRuatrzRMrfp7"></div>
            <div class="about-comment reveal">
              <p>
                hair salon のHPを閲覧いただき誠にありがとうございます。<br><br class="pcOnly">
                hair salon では全てのお客様が心から心地よく思える空間作りと、<br>
                お客様の心が満たされる技術提供を目指しております。<br><br class="pcOnly">
                お店とお客様というような隔たりを作るのではなく、<br>
                スタッフとお客様が お互い尊重しあい協力し合うことで,<br>
                より良い美容室が生まれると信じています。<br><br class="pcOnly">
                hair salon aki を中心とした幸せの輪が造られますように。
              </p>
            </div>
            <div class="about-background reveal-back"></div>
          </div>
        </section>
        
        <section>
          <h2 class="title reveal-back">Store Equipment</h2>
          <div class="container">
            <div class="store-equipment wifi">
              <div class="store-equipment-img reveal">
                <img src="https://static.wixstatic.com/media/3254e0_a5c5b6e8ec954bd09a39ca81eabc271b~mv2_d_1920_1280_s_2.jpg/v1/fill/w_1920,h_1280,al_c,q_90/3254e0_a5c5b6e8ec954bd09a39ca81eabc271b~mv2_d_1920_1280_s_2.webp" title="wifiの画像">
              </div>
              <div class="store-equipment-background reveal-back"></div>
              <div class="store-equipment-comment reveal">
                <h3>Wi-Fi</h3>
                <P>
                  ご自由にご利用いただける<br>
                  Wi-Fi環境をご用意しております
                </p>
              </div>
            </div>

            <div class="store-equipment ipad">
              <div class="store-equipment-img reveal">
                <img src="https://static.wixstatic.com/media/3254e0_ee70e668f53742829cdb076071a218ab~mv2_d_4032_3024_s_4_2.jpg/v1/fill/w_1770,h_1328,al_c,q_90,usm_0.66_1.00_0.01/3254e0_ee70e668f53742829cdb076071a218ab~mv2_d_4032_3024_s_4_2.webp" title="ipadの画像">
              </div>
              <div class="store-equipment-background reveal-back"></div>
              <div class="store-equipment-comment reveal">
                <h3>iPad</h3>
                <p>
                  カット中やカラー・パーマの待ち時間でも<br>
                  動画や雑誌をご覧いただけます
                </p>
              </div>
            </div>

            <div class="store-equipment kidsSpace">
              <div class="store-equipment-img reveal">
                <img src="http://drive.google.com/uc?export=view&id=1MXylCj8WRQg_UaOkNxCGT-gYjh8iMgKG" title="キッズスペースの画像">
              </div>
              <div class="store-equipment-background reveal-back"></div>
              <div class="store-equipment-comment reveal">
                <h3>Kids Space</h3>
                <p>
                  お子様にも待ち時間を<br>
                  楽しく過ごしていただけるよう<br>
                  キッズスペースをご用意しております
                </p>
              </div>
            </div>
          </div>
        </section>
        
        <section>
          <h2 class="title reveal-back">Activities</h2>
          <div class="container">
            <div class="activities donation reveal">
              <div class="activities-left">
                <div class="activities-img"><a href="https://www.jhdac.org/index.html" target="_blank" rel="noopener noreferrer"><img src="https://static.wixstatic.com/media/3254e0_e14386207b874ba0a00e19e1a6aef7d9~mv2.jpg/v1/fill/w_368,h_110,al_c,q_80,usm_0.66_1.00_0.01/3254e0_e14386207b874ba0a00e19e1a6aef7d9~mv2.webp" title="ヘアドネーションロゴ"></a></div>
              </div>
              <div class="activities-right">
                <h3 class="activities-title">ヘアドネーション賛同美容室</h3>
                <p>
                  ヘアドネーションとは老若男女・国籍年齢問わず、気軽に参加して頂ける髪の毛のボランティアです。<br><br class="pcOnly">
                  NPO法人 Japan Hair Donation & Charity（通称 JHDAC ; ジャーダック）は、『ヘアドネーション』によって、１００％寄付された髪の毛で作った『フルオーダーメイドの医療用ウィッグ』を、頭髪の悩みを持つ１８歳以下の子供たちに無償でプレゼントしている日本で唯一の特定非営利活動法人です。
                </p>
              </div>
            </div>
            
            <div class="activities unicef reveal">
              <div class="activities-left">
                <div class="activities-img"><a href="http://www.unicef.or.jp/" target="_blank" rel="noopener noreferrer"><img src="https://static.wixstatic.com/media/3254e0_27c3126f9aac4aa7a48c813c699f8a94~mv2.png/v1/fill/w_372,h_110,al_c,q_85,usm_0.66_1.00_0.01/3254e0_27c3126f9aac4aa7a48c813c699f8a94~mv2.webp" title="ユニセフのロゴ"></a></div>
              </div>
              <div class="activities-right">
                <h3 class="activities-title">ユニセフ募金</h3>
                <p>
                  hair salonでは世界の子供たちの健康と成長に、<br>
                  少しでも力になれるように募金箱を設置しています。
                </p>
              </div>
            </div>
            
            <div class="activities workpal reveal">
              <div class="activities-left">
                <div class="activities-img">
                  <a href="https://howcang.com/2018/12/31/logo/" target="_blank" rel="noopener noreferrer"><img src="https://howcang.com/adm/wp-content/uploads/2018/12/logo.png"></a>
                </div>
              </div>
              <div class="activities-right">
                <h3 class="activities-title">ヘアサロン財団<br><span class="activities-title-small">（架空の財団フリー素材です）</span></h3>
                <p>
                  「ヘアサロン財団」はテストのために作成した架空の財団です。<br>
                  福利厚生事業について、自治体の支援のもと中小企業の事業主とその勤労者があい協力して設立する、総合的な勤労者福祉事業を行う団体です。<br>
                </p>
                <div class="activities-strong"><span class="marker">※ 加入者 技術費 10%off</span></div>
              </div>
            </div>
          </div>
        </section>
        
      <section>
        <h2 class="title reveal-back">Access</h2>
        <div class="map reveal">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.7281085126874!2d139.69853721562325!3d35.65906988019945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b78491b9667%3A0x1d5a39ab94bbb8d9!2z44OP44OB5YWs5YmN5bqD5aC0!5e0!3m2!1sja!2sjp!4v1640821278179!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="address reveal">
          <ul class="address-lists">
            <li class="address-list">〒150-0043</li>
            <li class="address-list">東京都渋谷区道玄坂２丁目１</li>
            <li class="address-list">Tel:0120-1111-2222</li>
            <li class="address-list">Email:hairsalon@test.com</li>
            <li class="address-list">営業時間:10:00 〜 20:00</li>
            <li class="address-list">店休日:年末年始、不定期（<a href="/news">News</a>情報をご確認下さい）</li>
          </ul>
        </div>
      </section>
    </main>

    <footer class="reveal-back">
      <div class="sns">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></a>
        <a href="#"><i class="fab fa-line"></i></a>
      </div>
      <small>&copy;hair-salon</small>
      <div class="jump pcOnly"><a href="#top">↑</a></div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/index.js"></script>
    <script src="js/style.js"></script>
  </body>
</html>
