<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('head'); %> 
  <link rel="stylesheet" href="/css/kids-discount-detail.css"> 
  <title>kids-discount-detail:hair-salon-aki</title>
</head>
<body>
  <%- include('header'); %> 
    
  <main>
    <div class="top">
      <div class="top-img"><img src="https://illust8.com/wp-content/uploads/2021/05/family_banzai_13410.png" alt="親御様ページのトップ画像"></div>
      <h1 class="top-title">０～６歳のお子様をお持ちの親御様</h1>
    </div>

    <div class="comments">
      <p class="comment">
        今日本は、少子高齢化社会と言われておりますが、全く子供が生まれていないわけではありません。<br>
        　子供を出産した多くの女性は、考え方も生き方も一女性から母親になります。頼もしいとも呼べるほど、自分を犠牲にしてでも子供のために生きる女性の方々を見ると女性としての強さを感じます。<br>
        ですが自分を棚に置きすぎてしまい、育児に奮闘する女性の方々はどこか自分のケアをおろそかにしてしまっているような気がします。育児にかかるお金を考えますと、やはり自分を犠牲にせざるをえないのかもしれません。<br>
        ですがそうなってしまいますと、美意識がなくなり、女性らしさが失われていってしまいます。<br>
        　そこで美容師として、何か日々育児に奮闘する女性の方々・親御様に向けて何かできることはないかと考えました。<br>
        私の願いは小さいお子様がいるご家庭でも自身の美への意識を捨てないでほしい。母親はいつまでもキレイに、父親はいつまでもかっこよくいてほしいということです。自分に自信を持つきっかけは人それぞれ違いますが、ヘアやメイクも大きな要素になりうると考えております。<br>
        そこで親御様とそのご家族に向けて割引を実施し、金銭面で工面し、少しでも育児に協力させていただきたいと思っております。<br>
        ​　0～6歳のお子様がいるご家庭は全員料金を40％offとさせていただきます。<br>
        　親になる前と同じように、むしろそれ以上に自分へ気を遣い、容姿を整えることで生活が良循環すること、ご家族全員が笑顔になることを心から願っております。
        <span class="name">店長　　ハチ公</span>
      </p>
      <div class="comment">◎初回のみご予約の際、お子様の名前・年齢・性別を確認させていただます。</div>
  </div>
  </main>

    <%- include('footer'); %> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/style.js"></script>
  </body>
</html>