<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <!-- Web表示設定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="秋田市の美容室「ヘアサロンアキ」の店舗情報です。カット・カラー・パーマだけでなく、ヘアドネーションも取り扱っています" />
    <!-- アイコンの設定-->
    <link rel="icon" href="#.ico" />
    <link rel="apple-touch-icon" href="#.png" />
    <!-- プラグイン -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital@1&family=Barlow:wght@200&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/staff.css">
    
    <title>staff:hair-salon-aki</title>
</head>
<body>
  <%- include('header'); %> 
    
    <main>
      <div class="top">
        <h1 class="top-title">Staff</h1>
      </div>

      <div class="profile reveal">
          <div class="profile-left">
            <div class="profile-img"><img src="https://static.wixstatic.com/media/3254e0_b3b6dcbd508d4d259073adcaa9cb1429~mv2.jpg/v1/crop/x_345,y_295,w_1104,h_1029/fill/w_348,h_324,al_c,q_80,usm_0.66_1.00_0.01/line_oa_chat_210521_110033.webp" title="プロフィールの画像"></div>
            <div class="profile-post">店長</div>
            <div class="profile-name">菅原 晃（すがわら あきら）</div>
          </div>
          <div class="profile-right">
              <h2 class="title">趣味</h2>
              <div class="profile-contents">
                  <ul>
                      <li>・サッカー
                          <ul>
                            <li>社会人サッカー(市内リーグ・県リーグ)：バンキッシュ所属</li>
                            <li>社会人フットサル：ジェランジーニョ所属</li>
                            <li>プレミアリーグ鑑賞</li>
                        </ul>
                    </li>
                    <li>・映画鑑賞</li>
                    <li>・芸術鑑賞</li>
                    <li>・旅（ヨーロッパ15ヵ国）</li>
                    <li>・釣り始めました！</li>
                </ul>
              </div>
              <h2 class="title">ひとこと</h2>
              <div class="profile-contents">
                  <p>1年間英語と美容・理容の修学のため、ヨーロッパ15ヶ国を周遊してきたことがあります。男性も女性もヨーロッパスタイルはお任せください。同じ趣味をお持ちの方は気軽にお声掛けください。よろしくお願いいたします！</p>
              </div>
          </div>
      </div>
      <div class="profile reveal">
          <div class="profile-left">
            <div class="profile-img"><img src="https://static.wixstatic.com/media/3254e0_5e9a57d7f18042dc94ad829475d2c531~mv2.jpg/v1/crop/x_257,y_8,w_1330,h_1363/fill/w_352,h_360,al_c,q_80,usm_0.66_1.00_0.01/line_oa_chat_210521_110005.webp" title="プロフィールの画像"></div>
            <div class="profile-post">スタイリスト</div>
            <div class="profile-name">長谷川 和寛(はせがわ かずひろ)</div>
          </div>
          <div class="profile-right">
            <h2 class="title">趣味</h2>
            <div class="profile-contents">
                <ul>
                    <li>・オンラインゲーム</li>
                    <li>・DBD（デットバイデイライト）</li>
                    <li>・モンスターハンターライズなど</li>
                </ul>
            </div>
          </div>
      </div>
      <div class="profile reveal">
          <div class="profile-left">
            <div class="profile-img"><img src="https://static.wixstatic.com/media/a00e046c4fac41c38c7eaec695ce4a10.png/v1/fill/w_422,h_422,al_c,q_85,usm_0.66_1.00_0.01/%E3%82%A2%E3%83%90%E3%82%BF%E3%83%BC104.webp" title="プロフィールの画像"></div>
            <div class="profile-post">アシスタント</div>
            <div class="profile-name">佐藤乙葉 (さとうおとは)</div>
          </div>
          <div class="profile-right">
            <h2 class="title">趣味</h2>
            <div class="profile-contents">
                <ul>
                    <li>・ネイル</li>
                </ul>
            </div>
          </div>
      </div>
      <div class="profile reveal">
          <div class="profile-left">
            <div class="profile-img"><img src="https://static.wixstatic.com/media/51692959caa54589b1d9e9cc4bda61ce.png/v1/fill/w_414,h_410,al_c,q_85,usm_0.66_1.00_0.01/%E3%82%A2%E3%83%90%E3%82%BF%E3%83%BC100.webp" title="プロフィールの画像"></div>
            <div class="profile-post">フロントスタッフ</div>
            <div class="profile-name">木澤畑 彩音 (きさわはた あやね)</div>
          </div>
          <div class="profile-right">
            <h2 class="title">趣味</h2>
            <div class="profile-contents">
                <ul>
                    <li>・ソフトボール</li>
                    <li>・釣り</li>
                    <li>・音楽</li>
                </ul>
            </div>
          </div>
      </div>
    </main>

    <%- include('footer'); %>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/style.js"></script>
  </body>
</html>