<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('head'); %> 
    <link rel="stylesheet" href="/css/staff.css">
    <title>staff:hair-salon</title>
  </head>
  <body>
    <%- include('header'); %> 
      
    <main>
      <div class="top">
        <h1 class="top-title">Staff</h1>
      </div>

      <div class="profile reveal">
        <div class="profile-left">
          <div class="profile-img"><img src="http://drive.google.com/uc?export=view&id=1abd9QgdZdJhfVaAfnaI9hLIj7Ws9NgT3" title="プロフィールの画像"></div>
          <div class="profile-post">店長</div>
          <div class="profile-name">ハチ公（はちこう）</div>
        </div>
        <div class="profile-right">
          <h2 class="title">趣味</h2>
          <div class="profile-contents">
            <ul>
              <li>・サッカー
                <ul>
                  <li>社会人サッカー(市内リーグ・県リーグ)：バンキッシュ所属</li>
                  <li>社会人フットサル：ジェランジーニョ所属</li>
                  <li>プレミアリーグ鑑賞</li>
                </ul>
              </li>
              <li>・映画鑑賞</li>
              <li>・芸術鑑賞</li>
              <li>・旅（ヨーロッパ15ヵ国）</li>
              <li>・釣り始めました！</li>
            </ul>
          </div>
          <h2 class="title">ひとこと</h2>
          <div class="profile-contents">
            <p>1年間英語と美容・理容の修学のため、ヨーロッパ15ヶ国を周遊してきたことがあります。男性も女性もヨーロッパスタイルはお任せください。同じ趣味をお持ちの方は気軽にお声掛けください。よろしくお願いいたします！</p>
          </div>
        </div>
      </div>
      <div class="profile reveal">
        <div class="profile-left">
          <div class="profile-img"><img src="http://drive.google.com/uc?export=view&id=19Ti58LCm6jbmMGtjgmEzx5SZoUCMobN6" title="プロフィールの画像"></div>
          <div class="profile-post">スタイリスト</div>
          <div class="profile-name">土佐犬(とさけん)</div>
        </div>
        <div class="profile-right">
          <h2 class="title">趣味</h2>
          <div class="profile-contents">
            <ul>
              <li>・オンラインゲーム</li>
              <li>・DBD（デットバイデイライト）</li>
              <li>・モンスターハンターライズなど</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile reveal">
        <div class="profile-left">
          <div class="profile-img"><img src="https://static.wixstatic.com/media/a00e046c4fac41c38c7eaec695ce4a10.png/v1/fill/w_422,h_422,al_c,q_85,usm_0.66_1.00_0.01/%E3%82%A2%E3%83%90%E3%82%BF%E3%83%BC104.webp" title="プロフィールの画像"></div>
          <div class="profile-post">アシスタント</div>
          <div class="profile-name">山田花子 (やまだはなこ)</div>
        </div>
        <div class="profile-right">
          <h2 class="title">趣味</h2>
          <div class="profile-contents">
            <ul>
              <li>・ネイル</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="profile reveal">
        <div class="profile-left">
          <div class="profile-img"><img src="https://static.wixstatic.com/media/51692959caa54589b1d9e9cc4bda61ce.png/v1/fill/w_414,h_410,al_c,q_85,usm_0.66_1.00_0.01/%E3%82%A2%E3%83%90%E3%82%BF%E3%83%BC100.webp" title="プロフィールの画像"></div>
          <div class="profile-post">フロントスタッフ</div>
          <div class="profile-name">前田綾香 (まえだあやか)</div>
        </div>
        <div class="profile-right">
          <h2 class="title">趣味</h2>
          <div class="profile-contents">
            <ul>
              <li>・ソフトボール</li>
              <li>・釣り</li>
              <li>・音楽</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <%- include('footer'); %>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="js/style.js"></script>
  </body>
</html>