/*--------------------------------------------------
PC
--------------------------------------------------*/
@media ( min-width : 768px ) {
    .access-img{ margin-bottom: 3em;}
    
    .access-img img{
        width:600px;
    }
    
    .access-adress{ margin-bottom: 3em;}
    
    .map{margin:2em auto;}
  }
  
  /*--------------------------------------------------
      SP
  --------------------------------------------------*/
  @media ( max-width : 767px ) {}