/**************************************************
    SP
***************************************************/
@media ( max-width : 767px ) {
    .access-img{ margin-bottom: 5vh;}
    
    .access-img img{  width:100%;}
    
    .map{margin:0 auto;}

    iframe{
        width:90%;
        height:40vh;
    }
}
    
/**************************************************
    PC
***************************************************/
@media ( min-width : 768px ) {
    .access-img{ margin-bottom: 3em;}
    
    .access-img img{  width:600px;}
    
    .access-adress{ margin-bottom: 3em;}
    
    .map{margin:2em auto;}
  }