/**************************************************
    SP
***************************************************/
@media ( max-width : 767px ) {
  form{
    width:90%;
    margin: 0 auto;
    margin-bottom: 10vh;
    text-align: left;
  }
  .form-group{
    margin-bottom: 3vh;
    width:100%;
  }
  label{
    display:block;
    margin-bottom: 1vh;
  }
  input{
    height: 6vh;
    width:100%;
  }
  textarea{
    width:100%;
  }
  
  .error{
    color:red;
  }

  img{
    margin-bottom: 10px;
    max-width:100%;
  }
}

/**************************************************
    PC
***************************************************/
@media ( min-width : 768px ) {
  form{
    width:100%;
    margin: 0 auto;
    margin-bottom: 4rem;
    text-align: left;
  }

  .form-group{
    margin-bottom: 1rem;
  }

  label{
    display:block;
    margin-bottom: 6px;
  }

  textarea{
    width:100%;
  }

  button{
    border: solid 1px black;
    border-radius: 5px;
    padding: 8px 10px;
  }
  
  .error{
    color:red;
  }
  
  #title{ 
    width:100%;
    height: 2.5rem;
  }

  img{
    margin-bottom: 10px;
    max-height:200px;
    max-width:200px;
  }
}
  