/**************************************************
    SP
***************************************************/
@media ( max-width : 767px ) {
  .news{
    margin: 10vh auto;
  }
  .news-title{
    border-bottom: solid 1px #a9a9a9;
    padding-top: 3vh;
  }
  .news-title-edit{
    float:right;
    margin-right: 2%;
    color:#6495ed;
    text-decoration-line: underline;
  }
  .news-title-edit::after{
    content:"";
    display: block;
    clear:both;
  }
  .news-contents{
    text-align:left;
    margin:3vh auto;
    width:95%;
  }
  .news img{
    max-height:200px;
    max-width:200px;
  }
}

/**************************************************
    PC
***************************************************/
@media ( min-width : 768px ) {
  .news{
    margin: 5em auto;
    width:600px;
  }
  .news-title{
    text-align-last: left;
    border-bottom: solid 1px #a9a9a9;
    padding-left: 1em;
  }
  .news-title-edit{
    float:right;
    color:#6495ed;
    text-decoration-line: underline;
  }
  .news-title-edit::after{
    content:"";
    display: block;
    clear:both;
}
  .news-contents{
    text-align:left;
    margin:1em auto;
    padding-left: 1em;
  }
  .news img{
    max-height:200px;
    max-width:200px;
  }
}